.keypad-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: var(--keypad-height);
    padding: 2%;
    width: var(--keypad-width);
}

.numbers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
    width: 75%;
}

.key-container {
    align-items: center;
    display: flex;
    height: 25%;
    justify-content: center;
    transition: background-color 0.3s linear;
}

.key-container:hover {
    cursor: pointer;
}

.number-key {
    background-color: var(--number-key-color);
    width: calc(100%/3);
}

.number-key:hover {
    background-color: var(--number-key-color-hover);
}

.key-value {
    color: var(--key-text-color);
    font-family: var(--main-font);
    font-size: var(--key-text-size);
    font-weight: var(--key-text-weight);
}
